@import "compass/reset";
@import "compass";
@import "compass/utilities";

$color-primary: #eee;
$color-secondary: #fff;
$color-background: #6e7888;
$hud-transparency-background: 0.9;
$hud-transparency: 0.2;

$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;
