@import "hud";

div.hud-leaderboard {
  @extend .hud;
  display: none;
  width: 300px;
}

table.leaderboard {
  table-layout: fixed;
  width: 100%;
  font-size: 8pt;

  tbody tr.current {
    font-weight: bolder; // Why u no work?
  }

  tbody tr td {
    &.rank {
      text-align: right;
      width: 10%;
      font-family: $font-mono;
    }
    &.name {
      font-family: $font-secondary;

      text-align: left;
      width: 70%;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &.score {
      font-family: $font-mono;
      text-align: right;
      width: 20%;
    }

    padding: 5px;
  }
}
