@import "base";
@import "dialog";
@import "leaderboard";
@import "hud-debug";

body {
  overflow: hidden;
  font-family: $font-primary;
}

canvas {
  position: absolute;
}

#submit-username-form {
  margin-top: 35px;
}

