body {
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.game-dialog {
  -webkit-box-shadow: inset 0px 0px 14px 2px rgba(242,242,242,0.58);
  -moz-box-shadow: inset 0px 0px 14px 2px rgba(242,242,242,0.58);
  box-shadow: inset 0px 0px 14px 2px rgba(242,242,242,0.58);

  -webkit-box-shadow: 0px 0px 14px 2px rgba(130,126,130,1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(130,126,130,1);
  box-shadow: 0px 0px 14px 2px rgba(130,126,130,1);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  background: #6e7888;

  position: absolute;
  z-index: 5000;
}

.dialog-content {
  margin: 10px;
  font-size: 22px;
  color: #eee;
  text-align: center;
  text-shadow: 0 0 0.2em #292727, 0 0 0.2em #292727;
}

.game-dialog.error .underline-input {
  border-bottom: solid 2px #b93535;
  color: #b93535;
}
.game-dialog.error .underline-input:focus {
  border-bottom: solid 2px #ccc;
  color: #ccc;
}

.underline-input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #fff;
  transition: border 0.3s;
  background: #6e7888;
  color: #eee;
  font-size: 15px;
  width: 50%;
  margin-left: 5px;
  float: left;
}

.underline-input:focus,
.underline-input.focus {
  border-bottom: solid 2px #ccc;
  outline: none;
}

.action-button {
  -moz-box-shadow: 0px 0px 0px 2px #454b55;
  -webkit-box-shadow: 0px 0px 0px 2px #454b55;
  box-shadow: 0px 0px 0px 2px #454b55;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8d9aae), color-stop(1, #c1d2ee));
  background:-moz-linear-gradient(top, #8d9aae 5%, #c1d2ee 100%);
  background:-webkit-linear-gradient(top, #8d9aae 5%, #c1d2ee 100%);
  background:-o-linear-gradient(top, #8d9aae 5%, #c1d2ee 100%);
  background:-ms-linear-gradient(top, #8d9aae 5%, #c1d2ee 100%);
  background:linear-gradient(to bottom, #8d9aae 5%, #c1d2ee 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d9aae', endColorstr='#c1d2ee',GradientType=0);
  background-color:#8d9aae;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #788395;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-family:Arial;
  font-size:15px;
  padding: 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #454b55;
}

.action-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c1d2ee), color-stop(1, #8d9aae));
  background:-moz-linear-gradient(top, #c1d2ee 5%, #8d9aae 100%);
  background:-webkit-linear-gradient(top, #c1d2ee 5%, #8d9aae 100%);
  background:-o-linear-gradient(top, #c1d2ee 5%, #8d9aae 100%);
  background:-ms-linear-gradient(top, #c1d2ee 5%, #8d9aae 100%);
  background:linear-gradient(to bottom, #c1d2ee 5%, #8d9aae 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1d2ee', endColorstr='#8d9aae',GradientType=0);
  background-color:#c1d2ee;
}

.action-button:active {
  position:relative;
  top:1px;
}
